.create-project {
    & .title {
        font-size: 18px;
        color: @m-font-color;
        margin-bottom: 12px;
        margin-top: 20px;
        justify-content: space-between;

        & span {
            color: #239D0F;
            font-size: 16px;
        }
    }
}