.create-project {
    & .title {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 12px;
        margin-top: 20px;
        justify-content: space-between;
        
    }
}