.drawbatch-wrap {
    padding: 0 30px;
    height: calc(100% - 78px);
    overflow: scroll;

    & .drawbatch-header {

        & .lable {
            font-size: 14px;
            color: @m-font-color;
            margin-right: 10px;
        }
    }

    & .text-area-auto {
        background-color: inherit;
        border: 1px solid transparent;
        color: @m-font-color;
        font-size: 14px;
        height: 100%;

        &::placeholder {
            color: @xs-font-color;
        }
    }

    & .drawbath-image {
        width: 200px;
        height: 200px;

        &.size-s {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

}

.imitate-wrap {
    background-color: #121212;
    height: calc(100% - 90px);
    overflow: hidden;

    & .video-wrap {
        width: 200px;
        height: 200px;
        position: relative;
        margin-top: 30px;

        & .time {
            position: absolute;
            left: 4px;
            top: 4px;
            padding: 0 10px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: @m-font-color;
            background-color: #000;
            border-radius: 2px;
        }

        & .video-name {
            font-size: 14px;
            color: @l-font-color;
            margin-top: 10px;
            text-indent: 4px;
        }
    }

    & .generate-image-wrap {
        padding: 0 30px;
        height: calc(100% - 78px);
        overflow: scroll;

        & .generate-header {
            margin-bottom: 20px;

            & .lable {
                font-size: 14px;
                color: @m-font-color;
                margin-right: 10px;
            }
        }


        & .th {
            background-color: #29292D;
            height: 68px;
            border-radius: 8px 8px 0 0;
            line-height: 68px;
        }

        & .th-td {
            font-size: 16px;
            color: @m-font-color;
            text-align: center;
            padding: 0 16px;

        }

        & .tr {
            display: -webkit-flex;
            align-items: stretch;
            background-color: #121212;

            &:nth-child(even) {
                background-color: #1B1B1D;
            }
        }

        & .td {
            justify-content: flex-start;
            height: inherit;
            border-right: 1px dashed #484848;
            padding: 12px 16px;
            box-sizing: border-box;
            font-size: 14px;
            color: @m-font-color;
            word-wrap: break-word;
            word-break: break-all;

            &:nth-last-child(1) {
                border-right: none
            }

            & .index {
                height: 36px;
                background-color: @bg-btn;
                padding: 0 16px;
                line-height: 36px;
                font-size: 14px;
                color: @m-font-color;
                margin-bottom: 10px;
                border-radius: 4px;
            }

            & .btn-default-98 {
                width: 98px;
                height: 32px;
                border: 1px solid #37373A;
                font-size: 14px;
                margin: 7px;
                padding: 0;

                &:hover {
                    border-color: @m-font-color;
                }
            }
        }

        & .text-area-auto {
            background-color: inherit;
            border: 1px solid transparent;
            color: @m-font-color;
            font-size: 14px;
            padding: 0;

            &::placeholder {
                color: @xs-font-color;
            }
        }

        & .generate-image {
            width: 160px;
            height: 160px;

            &.size-s {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
}