.home-user-info {
    & .user-info-title {
        justify-content: space-between;
        border-top: 1px solid @line-color;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        color: @l-font-color;
    }

    & .section-item {
        margin-bottom: 10px;
        line-height: 1;
        justify-content: space-between;
        font-size: 16px;
    }

    & .section-item-left {
        flex: 1;
        margin-right: 20px;
    }

    & .section-item-right {
        flex: 1;
    }

    & .left-text {
        color: @s-font-color;
        justify-content: space-between;
    }

    & .edit {
        text-decoration: underline;
        color: @font-primary-color;
        cursor: pointer;
    }

    & .user-info-bottom {
        justify-content: space-between;
        padding: 0 80px;
        & .num {
            font-size: 28px;
            color: @m-font-color;
            margin-bottom: 8px;
            line-height: 1;
        }

        & .text {
            font-size: 14px;
            color: @m-font-color;
            & span {
                color: @xs-font-color;
            }
        }
    }

    & .user-info-qrCode-wrap {
        justify-content: space-between;
        padding: 50px 220px 0;
    }

    & .qrcode-img {
        width: 120px;
        height: 120px;
        background-color: #111;
        margin-bottom: 14px;
    }

    & .qrcode-text {
        font-size: 14px;
        color: @m-font-color;
    }


    & .btn-primary-auto.info-btn {
        font-size: 14px;
        width: 88px;
        height: 32px;
    }
}
