.home-wrap {
    font-size: 26px;
    padding: 20px 24px 0;
    height: calc(100% - 90px);
    overflow: scroll;

    & .carousel-wrap {
        width: 768px;
        height: 108px;
        border-radius: 8px;
        overflow: hidden;
    }

    & .section-title-wrap {
        font-size: 14px;
        color: @l-font-color;
        margin-bottom: 18px;
        margin-top: 24px;
        & span {
            font-size: 12px;
            color: @xs-font-color;
            font-weight: normal;
        }
    }

    & .empty-wrap {
        font-size: 12px;
        color: @s-font-color;

        & .empty-img {
            width: 100px;
            height: 100px;
            margin-bottom: 30px;
        }
    }

    & .login-section {
        box-sizing: border-box;
        padding: 12px;
        width: 172px;
        flex: 0 0 172px;
        height: 108px;
        background: #29292D;
        border-radius: 8px;
        margin-right: 12px;

        & .user-img {
            width: 34px;
            height: 34px;
            margin-right: 8px;
          
        }

        & .text {
            font-size: 11px;
            color: @m-font-color;
            line-height: 14px;
            text-align: left;
        }

        & .vip {
            height: 28px;
            background: #38383C;
            border-radius: 4px;
            font-size: 11px;
            color: @m-font-color;
            line-height: 14px;
            text-align: left;
            box-sizing: border-box;
            align-items: center;
            padding: 0 8px;
            margin-top: 15px;
            & .vip-cur {
                color: #F8D59F;
                font-weight: bold;
                margin-right: 4px;
            }
        }

    }

    & .ai-item {
        width: 466px;
        height: 108px;
        background-color: #29292D;
        margin-top: 20px;
        border-radius: 8px;

        & + .ai-item {
            margin-left: 20px;
        }

        & .ai-img {
            width: 274px;
            height: 108px;
            margin-right: 24px;
        }

        & .title {
            font-size: 16px;
            color: @l-font-color;
            margin-bottom: 8px;
        }

        & .text {
            font-size: 12px;
            color: @s-font-color;
            width: 144px;
        }
    }

    & .home-item-wrap {
        width: 100px;
        margin-right: 20px;

        & .create-img {
            width: 100px;
            height: 100px;
            background: #000;
            margin-bottom: 8px;
           
        }
        & .title {
            font-size: 12px;
            width: 82px;
            color: @m-font-color;
        }

    }
}

