.home-wrap {
    font-size: 26px;
    padding: 0 48px;

    & .carousel-wrap {
        margin-bottom: 33px;
    }

    & .home-section {
    }

    & .home-item-wrap {
        width: 31%;
        height: 128px;
        background-color: @bg-card;
        border-radius: 8px;
        margin-right: 24px;
        padding: 0 16px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;

        & .left {
            justify-content: flex-start;
            align-items: flex-start;
        }

        & .title {
            font-size: 20px;
            color: @m-font-color;
            font-weight: bold;
            margin-bottom: 20px;
        }

        & .describe {
            font-size: 14px;
            color: @s-font-color;
            flex: 1;
            margin-right: 20px;
            margin-bottom: 4px;
        }
    }

    & .section-create-wrap  {
        flex-wrap: wrap;
    }


    & .section-title-wrap {
        font-size: 20px;
        color: @l-font-color;
        font-weight: bold;
        margin-bottom: 18px;
        & span {
            font-size: 14px;
            color: @xs-font-color;
            font-weight: normal;
        }
    }

    & .empty-wrap {
        font-size: 12px;
        color: @s-font-color;

        & .empty-img {
            width: 100px;
            height: 100px;
            background-color: #7A797C;
            margin-bottom: 30px;
        }
    }
}

