.home-wrap {
    font-size: 26px;
    padding: 0 30px;
    height: calc(100% - 90px);
    overflow: scroll;

    & .carousel-wrap {
        margin-bottom: 33px;
    }

    & .home-section {
        flex-wrap: wrap;
        width: 100%;
    }

    & .home-item-wrap {
        width: 362px;
        flex: 0 0 362px;
        height: 138px;
        background-color: @bg-card;
        border-radius: 8px;
        margin-right: 20px;
        padding: 0 16px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        & .left {
            justify-content: flex-start;
            align-items: flex-start;
        }

        & .title {
            font-size: 20px;
            color: @m-font-color;
            margin-bottom: 20px;

            & .vip-img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
            }
        }

        & .describe {
            font-size: 14px;
            color: @s-font-color;
            flex: 1;
            margin-right: 10px;
            margin-bottom: 4px;
        }
    }

    & .section-create-wrap  {
        flex-wrap: wrap;
    }


    & .section-title-wrap {
        font-size: 20px;
        color: @l-font-color;
        font-weight: bold;
        margin-bottom: 18px;
        & span {
            font-size: 14px;
            color: @xs-font-color;
            font-weight: normal;
        }
    }

    & .empty-wrap {
        font-size: 12px;
        color: @s-font-color;

        & .empty-img {
            width: 100px;
            height: 100px;
            margin-bottom: 30px;
        }
    }
}

