.script-import {
    & .title {
        font-size: 24px;
        color: @m-font-color;
        margin-bottom: 16px;
    }

    & .sub-text {
        margin: 32px 0;
        font-size: 20px;
        color: @xs-font-color;

        & span {
            color: @primary-color;
        }
    }

   


    & .select-auto {
        width: 100%;
        height: 58px;
        line-height: 58px;
        & .ant-select-selector {
            background-color: @bg-input;
            border: 1px solid @border-line-color;
            
            & .ant-select-selection-search-input {
                height: 58px;
            }

            & .ant-select-selection-item {
                line-height: 58px;
                color: @m-font-color;
            }
        }
        &.ant-select .ant-select-arrow {
            color: @m-font-color;
        }
    }

}



