.page-header {
    width: 100%;
    height: 48px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1B1B1C;
    padding-right: 20px;
    padding-left: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  
    & .nav-back {
        width: 40px;
        height: 40px;
        margin-right: 24px;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
    }
  
    & .ant-tabs.ant-tabs-top {
      align-self: flex-end;
  
    }
  
    & .ant-tabs >.ant-tabs-nav {
      margin-bottom: 0;
    }
    & .ant-tabs-top >.ant-tabs-nav {
      margin-bottom: 0;
    }
  }
  
  
  .page-header-placeholder {
    width: 100%;
    height: 64px;  // page-header 48px + margin-bottom 16px
    flex: 0 0 64px;
  }
  