.setting-wrap {
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 90px);
    overflow: hidden;

    & .setting-section {
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
        background-color: @bg-card;
        border-radius: 8px;
        margin-bottom: 30px;
        &.no-padding-h {
            padding: 24px 0;
            & .setting-title {
                margin-left: 24px;
            }
        }
    }

    & .setting-title {
        font-size: 20px;
        color: @m-font-color;
        margin-bottom: 24px;
    }

    & .half-width {
        width: 50%;
        justify-content: space-between;
    }

    & .setting-form {
        margin-bottom: 12px;
    }

    & .setting-label {
        font-size: 18px;
        color: @m-font-color;

        &.color-primary {
            color: @font-primary-color;
            margin: 0 4px;
        }

        &.color-open {
            color: #239D0F;
            margin-right: 132px;
        }
    }

    & .input-s {
        height: 40px;
        border: 1px solid @border-line-color;
    }

   
    & .content {
        flex-wrap: wrap;
    }

    & .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 25%;
        height: 104px;
        box-sizing: border-box;
        padding: 0 20px ;
        margin-bottom: 50px;

        &.item-no-top {
            height: 40px;
            flex-direction: row;
            background-color: @bg-input;
            border: 1px solid @border-line-color;
            border-radius: 8px;
            width: calc(25% - 40px);
            margin: 0 20px;
            line-height: 40px;
            font-size: 14px;
            color: @m-font-color;
            padding: 0 10px;
            align-items: center;
        }
    }

    & .item-form {
        width: 100%;
    }

    & .item-header  {
        width: 100%;
        justify-content: space-between;
    }

    & .btn-s {
        width: 40px;
        height: 40px;
        border: 1px solid @border-line-color;
        text-align: center;
        background-color: @bg-input;
        border-radius: 8px;
        margin-left: 10px;
        line-height: 40px;
        cursor: pointer;
        font-size: 16px;
    }

    & .slider-auto.ant-slider {
        margin-top: 10px;
        width: 100%;
        & .ant-slider-rail  {
            background-color: #48484f;
            height: 12px;
            border-radius: 12px;
        } 
        & .ant-slider-track {
            height: 12px;
            border-radius: 12px;
            background-color: @primary-color;
        }
        & .ant-slider-handle {
            width: 20px;
            height: 20px;
            background-color: @l-font-color;
            border: none;
            border-radius: 10px;

            &::after, &::before {
                display: none;
            }

        }
    }

    & .inputnumber-auto.ant-input-number  {
        background-color: @bg-input;
        border: none;
        & .ant-input-number-input {
            color: @m-font-color;
        }
    }

    & .main-inputnumber-auto.ant-input-number {
        width: calc(100% - 40px);
        height: 40px;
        line-height: 40px;
        background-color: @bg-input;
        border: 1px solid @border-line-color;
        

        & .ant-input-number-input {
            color: @m-font-color;
        }
    }

    & .switch-auto.ant-switch {
        background-color: #666;
        width: 48px;
        height: 28px;
        border: none;
       .ant-switch-handle {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            &::before {
                width: 24px;
                height: 24px;
                border-radius: 24px;
            }
       }
     
       &.ant-switch-checked {
            background-color: @primary-color;

            & .ant-switch-handle {
                inset-inline-start: calc(100% - 26px)
            }

       }

    }

    & .section-bottom {
        justify-content: space-between;
        margin-top: 30px;

        & .item {
            flex: 1;
            height: auto;
        }
        & .text-area-auto {
            margin-top: 20px;
            background-color: @bg-input;
            border: 1px solid @border-line-color;
            color: @m-font-color;
            font-size: 14px;
            min-height: 180px;
            &::placeholder {
                color: @xs-font-color;
            }
        }
    }

    & .basic-subText {
        font-size: 14px;
        color: @m-font-color;
        margin-bottom: 20px;
        & span {
            color: @font-primary-color;
        }
    }
}



.videogeneration-wrap {
    padding: 0 30px;
    height: calc(100% - 98px);
    overflow: scroll;

    & .section {
        width: 100%;
        padding: 30px 0;
        background-color: @bg-card;
        border-radius: 8px;
        margin-bottom: 30px;

        & .title {
            font-size: 20px;
            color: @l-font-color;
            line-height: 1;
            margin-bottom: 20px;
            margin-left: 30px;
        }
    }

    & .form-wrap {
        padding: 0 15px;
    }

    & .form-item {
        flex: 1;
        padding: 0 15px;
        align-items: flex-start;

        & .label {
            font-size: 16px;
            color: @m-font-color;
            margin-bottom: 10px;
        }

        & .addon-btn {
            height: 38px;
            color: @l-font-color;

            &:hover {
                color: @l-font-color;
            }
        }

    }

    & .fontsize {
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        background-color: #48484f;
        text-align: center;
        line-height: 100px;
        color: @m-font-color;
        border-radius: 4px;
        cursor: pointer;

        &.cur {
            box-shadow: 0 0 0 2px @primary-color;
        }
    }

    & .fontcf-wrap {
        flex-wrap: wrap;
    }

    & .fontcf {
        height: 100px;
        flex: 0 0 100px;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 30px;
        border-radius: 4px;

        &.cur {
            box-shadow: 0 0 0 2px @primary-color;
        }
    }
}