.home-login-modal{
    & .prefix-wrap {
        font-size: 14px;
        color: @l-font-color;
        & .line {
            width: 1px;
            height: 20px;
            background-color: @l-font-color;
            margin: 0 20px;
        }
    }

    & .verify-wrap {
        width: 100%;
        margin: 20px 0;
        justify-content: space-between;
    }

    & .btn-getCode {
        width: 180px;
        height: 72px;
        font-size: 14px;
        color: @l-font-color;
        text-align: center;
        line-height: 72px;
        margin-left: 20px;
        background-color: @bg-input;
        border-radius: 6px;
        cursor: pointer;
    }

    & .agreement-wrap {
        margin-top: 30px;

        & .ant-radio-checked .ant-radio-inner {
            border-color: @primary-color;
        }
        & .ant-radio-inner {
            background-color: @bg-modal;
        }

        & .label {
            font-size: 12px;
            color: @xs-font-color;
            & span {
                color:  @primary-color;
            }
        }

    }

    & .submit-btn.ant-btn{
        margin-top: 30px;
        height: 72px;
        background-color:  @primary-color;
        font-size: 20px;
        &:hover {
            background-color:  @primary-color;
        }
    }

    & .ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
        padding: 0 11px;
        background-color: @bg-input;
        border: none;
    }

}

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
    background-color: @bg-input;
    color: @l-font-color;
}