

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-color: @bg-primary;
  padding: 0;
  margin: 0;
  color: @m-font-color;
  font-family: PingFangSC-Regular, PingFang SC;
}

.navs-placeholder {
  flex: 0 0 90px;
  height: 90px;
  width: 100%;
}

.navs {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  background-color: @bg-primary;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;

  & .point {
    background-color: @error-color;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 12px;
    margin-left: 48px;
  }

  & .left {
    font-size: 16px;
    color: @s-font-color;
    & .status-text {
      color: @error-color;
      margin-right: 4px;
    }

  }

  & .right {
    justify-content: flex-end;
  }

  & .endtime-wrap {
    font-size: 16px;
    color: @s-font-color;
    & .endtime {
      color:  @font-primary-color;
      margin-left: 4px;
    }
  }

  & .member {
    font-size: 14px;
    color: #F8D59F;
    padding: 0 14px;
    height: 42px;
    border: 1px solid @line-color;
    margin: 0 24px;
    line-height: 42px;
    border-radius: 8px;
    cursor: pointer;
  }

  & .help {
    width: 28px;
    height: 28px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    background-color: #c4c4c4;
    text-align: center;
    line-height: 28px;
    margin-right: 40px;
    border-radius: 20px;
    cursor: pointer;
  }

  & .user-img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #AA95F1;
    margin-right: 48px;
  }

  & .login-btn {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: @bg-btn;
    font-size: 14px;
    color: @l-font-color;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin-right: 48px;
  }
}

.page-header {
  width: 100%;
  height: 78px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: @bg-primary;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 28px;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 9;

  & .nav-back {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid @border-line-color;
      margin-right: 48px;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      box-sizing: border-box;
  }

  & .ant-tabs.ant-tabs-top {
    align-self: flex-end;

  }

  & .ant-tabs >.ant-tabs-nav {
    margin-bottom: 0;
  }
  & .ant-tabs-top >.ant-tabs-nav {
    margin-bottom: 0;
  }
}


.page-header-placeholder {
  width: 100%;
  height: 98px;
  flex: 0 0 98px;
}

// 全局input 样式覆盖
.ant-input.ant-input-lg{
  background-color: @bg-input;
  height: 56px;
  color: @l-font-color;
  border: 1px solid @border-line-color;
  font-size: 14px;
  &::placeholder {
    color: @xs-font-color;
  }
}

// 全局弹出框 样式覆盖
.ant-modal {
  & .ant-modal-header {
    background-color: @bg-modal;
    margin-bottom: 20px;
  }
  & .ant-modal-content{
    background-color: @bg-modal;
    padding: 40px;
  }

  & .ant-modal-title {
    font-size: 20px;
    text-align: center;
    color: @l-font-color;
  }

  & .ant-modal-close {
    color: #666;
  }
}

// 全局tabs 样式覆盖
.ant-tabs  {
  .ant-tabs-nav {
    &::before {
      display: none;
    }
  }
  & .ant-tabs-tab {
    color: @l-font-color;
    line-height: 1;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 14px;
    
    &:hover  {
      color: @l-font-color;
    }
    &.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: @l-font-color;
    }

    &.ant-tabs-tab-btn:active {
      color: @l-font-color;
    }
    &.ant-tabs-tab-disabled {
      color: #666;
    }
  }

  & .ant-tabs-ink-bar {
    background-color: @primary-color;
  }
}




// button 自定义样式 覆盖 primary颜色值
.btn-primary-auto.ant-btn.ant-btn-primary {
  height: 56px;
  background-color:  @primary-color;
  font-size: 16px;
  &:hover, &:active {
      background-color:  @primary-color;
  }

  &:disabled {
    border: none;
    color: @xs-font-color
  }

  // 覆盖 primary颜色值 150宽
  &.btn-primary-108 {
    height: 40px;
    min-width: 108px;
    font-size: 14px;
    margin-left: 20px;
  }
}

.btn-default-auto.ant-btn.ant-btn-default {
  height: 56px;
  font-size: 16px;
  background-color: @bg-btn;
  color: @l-font-color;
  border: none;
  &:hover, &:active {
    background-color: @bg-btn;
    color: @l-font-color;
  }

  // 覆盖 primary颜色值 150宽
  &.btn-default-150 {
    height: 40px;
    min-width: 150px;
    font-size: 14px;
    margin-left: 24px;
  }

  &.btn-default-100 {
    height: 40px;
    min-width: 100px;
    font-size: 14px;
    margin: 5px;
  }
}



// 全局下来框 样式覆盖
.ant-select-dropdown {
  background-color: @bg-input;

  & .ant-select-item.ant-select-item-option {
      height: 56px;
      line-height: 46px;
      color: @m-font-color;
      font-size: 14px;
      box-sizing: border-box;
      background-color: @bg-input;

      &.ant-select-item-option-active {
          background-color:  @bg-modal;
      }
  }
}


// antd select 样式覆盖
.select-auto.ant-select {
  width: 100%;
  height: 40px;
  line-height: 40px;

  &.w67{
      width: calc(100% - 50px);
  }

  & .ant-select-selector {
      background-color: @bg-input;
      border: 1px solid @border-line-color;
      
      & .ant-select-selection-search-input {
          height: 40px;
      }

      & .ant-select-selection-item {
          line-height: 40px;
          color: @m-font-color;
      }
  }
  &.ant-select .ant-select-arrow {
      color: @m-font-color;
  }
}
